﻿@using AppharborDemo.Models
@using Microsoft.AspNet.Mvc.Facebook.Models
@model MyAppUser
@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    <script type="text/javascript">
        function onSuccess(data) {
            if (data == "Failed") {
                alert("Thêm thất bại");
            }
            else {
                $('#userList').append("<li> " + data + " </li>");
            }
        }
    </script>
}
<article class="intro">
    <span id="profilePicture">
        @if (Model.ProfilePicture != null && Model.ProfilePicture.Data != null)
        {
            <img src="@Model.ProfilePicture.Data.Url" />
        }
    </span>
    <h3>Welcome @Model.Name</h3>
    <label>Email: @Model.Email</label>
</article>

<article id="content">
    <div class="left">
        <h4>Friends</h4>
        @if (Model.Friends != null && Model.Friends.Data != null && Model.Friends.Data.Count > 0)
        {
            foreach (var myFriend in @Model.Friends.Data)
            {
            <a href="@myFriend.Link" target="_blank">
                <div class="photoTile">
                    <label>@myFriend.Name</label>
                    @if (myFriend.Picture != null && myFriend.Picture.Data != null)
                    {
                        <img src="@myFriend.Picture.Data.Url" />
                    }
                </div>
            </a>
            }
        }
        else
        {
            <p>No friends found.</p>
        }
    </div>
    <div class="right">
        <h4>Users</h4>
        @{
            List<AppharborDemo.FACEBOOK_USER> users = ViewBag.FacebookUsers;
        }
        @if (users.Count > 0)
        {
            <ul id ="userList">
            @{
                foreach(AppharborDemo.FACEBOOK_USER user in users)
                {
                    <li>@user.NAME - @user.FACEBOOK_GROUP.NAME</li>
                }
            }
            </ul>
            
            <hr />
            
            using(Ajax.BeginForm("AddUser", "Home", new AjaxOptions{
                OnSuccess = "onSuccess"
            }))
            {
                @Html.TextBox("NAME")
                @Html.DropDownList("ID_GROUP", (SelectList)ViewBag.FacebookGroups)
                <input type="submit" value="Add" />
            }
        }
        else
        {
            <p>No user available.</p>
        }
    </div>
</article>